.container
  .jumbotron
    .row-fluid
      .span12
        - if false
          %i.fa.fa-cut.fa-5x
          =# image_tag('train_icon_medium.png')
    .row-fluid
      .span6
        %h2
          - if false
            %i.icon-star.text-error
          Personal Trainers
        %p.lead
          Create and track client Body Composition Assessments.
        %a{:href => signup_path(:type => 'trainer'), :class => "btn btn-large btn-success"}
          Trainers
          %i.icon-play
      .span6
        %h2
          Personal Training Clients
        %p.lead
          View all your Body Compositions Assessments.
        %a{:href => signup_path(:type => 'client'), :class => "btn btn-large btn-warning"}
          Clients
          %i.icon-play
  - if false
    = form_tag sessions_path do
      = text_field_tag :login, params[:login], :class => "span2", :placeholder => "Username or email"
      = password_field_tag :password, nil, :class => "span2", :placeholder => "Password"
      = button_tag(:type => 'submit', :class => 'btn') do
        Log in <i class="icon-lock"></i>
    Don't have an account?
    %a{:href => signup_path, :class => "btn btn-warning"}
      Sign up
      %i.icon-play

  .nav.nav-list
    %li.divider

  .row-fluid.marketing
    .span6
      %h4
        %a{:href => '#', :class => 'text-error'}
          = "Track Workouts (beta)"
          %i.icon-tasks
      %p Weight, sets, reps, rest, etc. - everything that goes into a workout.

      %h4
        %a{:href => '#', :class => 'text-error'}
          = "Body Composition Assessments"
          %i.icon-th-list
      %p Percent Body Fat, Lean Mass, Fat Mass, BMI, Waist-to-Hip-Ratio, BMR.

      %h4
        %a{:href => '#', :class => 'text-error'}
          = "Graphs & Pictures"
          %i.icon-bar-chart
      %p Get a visual of client progress.

      %h4
        %a{:href => '#', :class => 'text-error'}
          = "Calendar Organized (beta)"
          %i.icon-calendar
      %p See workouts and body compositions via a calendar view.

    .span6
      %h4
        %a{:href => '#', :class => 'text-error'}
          = "Email Notifications"
          %i.icon-envelope
      %p Clients are notified when a new workout or body composition assessment is created.

      %h4
        %a{:href => '#', :class => 'text-error'}
          = "Client Portal"
          %i.icon-user
      %p Clients can view workouts and body composition assessments online.

      %h4
        %a{:href => '#', :class => 'text-error'}
          = "Take it Anywhere"
          %i.icon-desktop
          %i.icon-tablet
          %i.icon-mobile-phone
      %p Desktop, laptop, iPad, iPhone - all good.

      %h4
        %a{:href => '#', :class => 'text-error'}
          = "Exercise Videos (beta)"
          %i.icon-facetime-video
      %p Link video to exercises for form mastery and instruction.