.container
  .jumbotron
    .row-fluid
      .span12
        = image_tag('train_icon_medium.png')
    .row-fluid
      .span6
        %h2
          - if false
            %i.icon-star.text-error
          Personal Trainers
        %p.lead
          Get a handle on your personal training business. Organize your client data and workouts, in the cloud.
          Track everything that is important to you as a Trainer, and help your Clients achieve their goals.
        %a{:href => signup_path(:type => 'trainer'), :class => "btn btn-large btn-success"}
          Personal Trainers
          %i.icon-play
      .span6
        %h2
          Personal Training Clients
        %p.lead
          View all the workouts and body compositions your trainer does for you. Be notified via email and/or texts of assessments, upcoming workouts,
          and news from your Trainer.
        %a{:href => signup_path(:type => 'client'), :class => "btn btn-large btn-warning"}
          Personal Training Clients
          %i.icon-play
  - if false
    = form_tag sessions_path do
      = text_field_tag :login, params[:login], :class => "span2", :placeholder => "Username or email"
      = password_field_tag :password, nil, :class => "span2", :placeholder => "Password"
      = button_tag(:type => 'submit', :class => 'btn') do
        Log in <i class="icon-lock"></i>
    Don't have an account?
    %a{:href => signup_path, :class => "btn btn-warning"}
      Sign up
      %i.icon-play

  .nav.nav-list
    %li.divider

  .row-fluid.marketing
    .span6
      %h4
        %a{:href => '#', :class => 'text-error'}
          = "Track Workouts"
          %i.icon-tasks
      %p Weight, sets, reps, rest, etc. Track everything that goes into a workout.

      %h4
        %a{:href => '#', :class => 'text-error'}
          = "Body Composition Assessments"
          %i.icon-th-list
      %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.

      %h4
        %a{:href => '#', :class => 'text-error'}
          = "Graphs & Pictures"
          %i.icon-bar-chart
      %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.

      %h4
        %a{:href => '#', :class => 'text-error'}
          = "Calendar Organized"
          %i.icon-calendar
      %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.

    .span6
      %h4
        %a{:href => '#', :class => 'text-error'}
          = "Email & Text Notifications"
          %i.icon-envelope
      %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.

      %h4
        %a{:href => '#', :class => 'text-error'}
          = "Client Portal"
          %i.icon-user
      %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.

      %h4
        %a{:href => '#', :class => 'text-error'}
          = "Take it Anywhere"
          %i.icon-desktop
          %i.icon-tablet
          %i.icon-mobile-phone
      %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.

      %h4
        %a{:href => '#', :class => 'text-error'}
          = "Exercise Videos"
          %i.icon-facetime-video
      %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.