= simple_form_for @workout_session, :html => { :class => 'form-horizontal' } do |f|
  = f.input :workout_name, :as => :string, :required => true, :label => "Workout Name", :include_blank => false, :input_html => {:class => 'span3 typeahead'}
  = f.input :workout_id
  = f.input :trainer_id
  = f.input :client_id
  = f.input :date
  = f.input :reminder_sent
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), workout_sessions_path, :class => 'btn'

:javascript
  var workout_data = #{ @workouts };
  $('.typeahead').typeahead({source: workout_data})
