.container-narrow
  - model_class = Client
  .page-header
    %h3.text-success
      %i.icon-user
      %i.icon-user
      Clients

  .span8
    = paginate @clients
    %table
      - @clients.sort_by(&:first_name).each_slice(2) do |clients|
        %tr
          - clients.each do |client|
            %td
              %p
                %a{:href => client_path(client), :rel => 'tooltip', :title => "View client #{client.full_name}"}
                  %button.btn.btn-large
                    .text-success
                      %i.icon-user
                      = client.full_name
    - if false
      &nbsp;
      %table.table.table-condensed
        %thead
          %tr
            %th Name
            %th Email
            %th Phone
            %th DOB
            %th Created
            %th Actions
        %tbody
          - @clients.each do |client|
            %tr
              %td= link_to client.full_name, client_path(client)
              %td= client.email
              %td= client.phone
              %td= client.dob.strftime("%m/%d/%Y")
              %td= client.created_at.strftime("%m/%d/%Y")
              %td
                %a{:href => edit_client_path(client), :class => 'btn btn-mini'}
                  = "Edit"
                  %i.icon-edit
                %a{:href => client_path(client), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini btn-danger'}
                  = "Delete"
                  %i.icon-remove

    .form-actions
      %a{:href => url_for(:back), :class => 'btn'}
        %i.icon-chevron-left
        Back
      %a{:href => new_client_path, :class => 'btn', :rel => 'tooltip', :title => "Create a new client"}
        .text-success
          %i.icon-user
          New
    
  