.container
  - model_class = Client
  .page-header
    %h4.text-success
      %i.icon-user
      Clients

  = paginate @clients
  - if false
    - @clients.sort_by(&:first_name).each_slice(4) do |clients|
      %ul.thumbnails
        - clients.each do |client|
          %li.span2
            - unless client.image.blank?
              %a{:href => client_path(client), :title => "View client #{client.full_name}", :class => "thumbnail"}
                .pagination-centered
                  %h4= truncate(client.full_name, :length => 10)
                = image_tag(client.image_url(:thumb).to_s)
            - else
              %a{:href => client_path(client), :title => "View client #{client.full_name}", :class => "thumbnail"}
                .pagination-centered
                  %h4= truncate(client.full_name, :length => 10)
                = image_tag('/no_avatar.gif')
    - if false
      %table
        - @clients.sort_by(&:first_name).each_slice(2) do |clients|
          %tr
            - clients.each do |client|
              %td
                %p
                  %a{:href => client_path(client), :rel => 'tooltip', :title => "View client #{client.full_name}"}
                    %button.btn.btn-large
                      .text-success
                        %i.icon-user
                        = client.full_name
  - if true
    %table.table.table-striped.table-condensed{"data-provides" => "rowlink"}
      %thead
        %tr
          %th{:style => 'display:none;'}=t '.actions', :default => t("helpers.actions")
          %th Picture
          %th Name
          %th Email
          %th Phone
          %th Age
          %th Created
      %tbody
        - @clients.each do |client|
          %tr
            %td{:style => 'display:none;'}
              = link_to t('.show', :default => t("helpers.links.show")), client_path(client)
            %td
              %ul.thumbnails
                - unless client.image.blank?
                  %li= link_to image_tag(client.image_url(:small_thumb).to_s), "#", :class => 'thumbnail', :type => "button"
                - else
                  %li= link_to image_tag('small_no_avatar.gif'), "#", :class => 'thumbnail', :type => "button"
            %td= client.full_name
            %td= client.email
            %td= client.phone
            %td= client.dob_age
            %td= client.created_at.strftime("%m/%d/%Y")

  .form-actions
    %a{:href => url_for(:back), :class => 'btn'}
      %i.icon-chevron-left
      Back
    %a{:href => new_client_path, :class => 'btn', :title => "Create a new client"}
      .text-success
        %i.icon-user
        New
    
  