- model_class = Client
.container
  .row-fluid
    .span3
      .sidebar-nav{:style => "border-right: 2px solid #B7410E; margin-right: 5px; padding-right: 19px;"}
        %ul.thumbnails
          - unless @client.image.blank?
            %li= link_to image_tag(@client.image_url(:thumb).to_s), "#pic", :class => 'thumbnail', "data-toggle" => "modal", :type => "button", :title => "Click to view large image", :rel => 'tooltip'
            %div{:id => "pic", :class => "modal", :style => "display:none;"}
              .modal-header
                = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
                = @client.full_name
              .modal-body
                = image_tag(@client.image_url.to_s)
              .modal-footer
                = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"
          - else
            %li= link_to image_tag('no_avatar.gif'), '#', :class => 'thumbnail', :type => "button"
        %h4.text-success
          %i.icon-user
          = @client.full_name
        %p
          %strong= "Username"
          - unless @client.user.blank?
            = @client.user.username
          - else
            = "Not yet signed up"
        %p
          %strong= "Trainer"
          - unless @client.trainer.blank?
            = @client.trainer.full_name
          - else
            = "None"
        %p
          %strong= model_class.human_attribute_name(:email)
          = @client.email
        %p
          %strong= model_class.human_attribute_name(:phone)
          = @client.phone
        %p
          %strong= model_class.human_attribute_name(:dob)
          = @client.dob.strftime("%m/%d/%Y")
        %p
          %strong= "Age"
          = @client.dob_age
    .span9
      .tabbable{:style => "margin-bottom: 18px;"}
        - if false
          %ul.nav.nav-tabs
        .btn-group
          %ul.nav.nav-pills
            %li.active
              %a{:href => "#workouts", :data => {:toggle => "tab"}, :title => "View #{@client.first_name}'s Workouts"}
                %button.btn
                  .text-error
                    %i.icon-tasks
            %li
              %a{:href => "#bodycomps", :data => {:toggle => "tab"}, :title => "View #{@client.first_name}'s Bodycomps"}
                %button.btn
                  .text-orange
                    %i.icon-th-list
            %li
              %a{:href => "#pictures", :data => {:toggle => "tab"}, :title => "View #{@client.first_name}'s Pictures"}
                %button.btn
                  %i.icon-camera
            - if false
              %li
                %a{:href => "#documents", :data => {:toggle => "tab"}, :rel => 'tooltip', :title => "View #{@client.first_name}'s Documents"}
                  %button.btn
                    %strong.text-yellow
                      %i.icon-file
              %li
                %a{:href => "#notifications", :data => {:toggle => "tab"}, :rel => 'tooltip', :title => "View #{@client.first_name}'s Notifications"}
                  %button.btn
                    %strong.text-info
                      %i.icon-envelope
        %hr{:style => "border: 1px solid #B7410E; margin-top:0px;"}
        .tab-content
          .tab-pane.active{:id => "workouts"}
            .row-fluid
              .span6
                - @client.workout_sessions.each do |workout_session|
                  %p= link_to workout_session.workout_name, workout_session_path(workout_session)
            %p
              %a{:href => new_workout_session_path(:client => @client), :title => "Create a new Workout for #{@client.first_name}"}
                %button.btn.btn-small
                  .text-error
                    %i.icon-tasks
                    New Workout
          .tab-pane{:id => "bodycomps"}
            - unless @client.bodycomps.blank?
              %p
                %table.table.table-striped{"data-provides" => "rowlink"}
                  %thead
                    %tr
                      %th{:style => 'display:none;'}=t '.actions', :default => t("helpers.actions")
                      %th Date
                      %th Weight
                      %th % Fat
                      %th Lean Mass
                      %th Fat Mass
                      %th BMI
                      %th BMR
                      %th WHR
                  %tbody
                    - @client.bodycomps.reverse.each do |bodycomp|
                      %tr
                        %td{:style => 'display:none;'}
                          = link_to t('.show', :default => t("helpers.links.show")), bodycomp_path(bodycomp)
                        %td= bodycomp.date.strftime("%m/%d/%Y")
                        %td= bodycomp.weight
                        %td= bodycomp.bodyfat_percent.round(1)
                        %td= bodycomp.lean_mass.round(1)
                        %td= bodycomp.fat_mass.round(1)
                        %td= bodycomp.bmi.round(2)
                        %td= bodycomp.bmr.round
                        %td
                          - unless bodycomp.waist.blank? or bodycomp.hip.blank?
                            = bodycomp.waist_hip_ratio
                          - else
                            N/A
                - if false
                  %a{:href => bodycomp_path(bodycomp), :rel => 'tooltip', :title => "View details of #{@client.first_name}'s #{bodycomp.date.strftime("%m/%d/%Y")} Bodycomp"}
                    %button.btn
                      .text-orange
                        %i.icon-th-list
                        = bodycomp.date.strftime("%m/%d/%Y")
            - unless current_user.is_client?
              %p
                %a{:href => new_bodycomp_path(:client => @client), :rel => 'tooltip', :title => "Create a new Bodycomp for #{@client.first_name}"}
                  %button.btn.btn-small
                    .text-orange
                      %i.icon-th-list
                      New Bodycomp
          .tab-pane{:id => "pictures"}
            - @client.bodycomps.each do |bodycomp|
              - bodycomp.pictures.each_slice(3) do |pics|
                %ul.thumbnails
                  - pics.each do |pic|
                    %li.span3
                      = link_to image_tag(pic.image_url(:thumb).to_s), "#pic" + pic.id.to_s, :class => "thumbnail", "data-toggle" => "modal", :href => "#pic" + pic.id.to_s, :type => "button", :title => "Click to view large image", :rel => 'tooltip'
                    %div{:id => "pic" + pic.id.to_s, :class => "modal", :style => "display:none;"}
                      .modal-header
                        = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
                        = bodycomp.date.strftime("%b %e %Y")
                      .modal-body
                        = image_tag(pic.image_url.to_s)
                      .modal-footer
                        = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"
          - if false
            .tab-pane{:id => "documents"}
              %p Documents
            .tab-pane{:id => "notifications"}
              %p Notifications

  - unless current_user.is_client?
    .form-actions
      %a{:href => clients_path, :class => 'btn'}
        %i.icon-chevron-left
        Back
      %a{:href => edit_client_path(@client), :class => 'btn'}
        = "Edit"
        %i.icon-edit
      %a{:href => client_path(@client), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger'}
        = "Delete"
        %i.icon-remove
  - if false
    %dl.dl-horizontal
      %dt
        %strong= "Name"
      %dd= @client.full_name
      %dt
        %strong= "Username"
      - unless @client.user.blank?
        %dd= @client.user.username
      - else
        %dd= "Not yet signed up"
      %dt
        %strong= "Trainer"
      - unless @client.trainer.blank?
        %dd= @client.trainer.full_name
      - else
        %dd= "None"
      %dt
        %strong= model_class.human_attribute_name(:email)
      %dd= @client.email
      %dt
        %strong= model_class.human_attribute_name(:phone)
      %dd= @client.phone
      %dt
        %strong= model_class.human_attribute_name(:dob)
      %dd= @client.dob.strftime("%m/%d/%Y")
      %dt
        %strong= "Age"
      %dd= @client.dob_age

    .form-actions
      %a{:href => clients_path, :class => 'btn'}
        %i.icon-chevron-left
        Back
      %a{:href => edit_client_path(@client), :class => 'btn'}
        = "Edit"
        %i.icon-edit
      %a{:href => client_path(@client), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger'}
        = "Delete"
        %i.icon-remove