- if true
  - if false
    %h1.text-error.pagination-centered
      %i.icon-star
      = "#{current_user.full_name} Training"
  .pagination-centered
    - if current_user.is_trainer?
      %p= image_tag(current_user.trainer.pictures.first.image_url(:thumb)) if current_user.is_trainer? and not current_user.trainer.pictures.empty?
    - elsif current_user.is_client?
      %p= image_tag(current_user.client.trainer.pictures.first(:thumb).image_url) unless current_user.client.trainer.pictures.empty?
  .container-narrow
    .form-signin
      .jumbotron
        .lead
        - unless current_user.is_client?
          %a{:href => new_workout_session_path, :class => "btn  btn-block btn-small btn-danger"}
            %i.icon-tasks
            New Workout
          %a{:href => new_bodycomp_path, :class => "btn  btn-block btn-small btn-warning"}
            %i.icon-th-list
            New Bodycomp
          %a{:href => new_client_path, :class => "btn btn-block btn-small btn-success"}
            %i.icon-user
            New Client
        - else
          %h2= "#{current_user.client.trainer.company_name}" if current_user.is_client? and not current_user.client.trainer.blank?
          %a{:href => client_path(current_user.client), :class => "btn  btn-block btn-small btn-warning"}
            My Information

.container-fluid
  - if false
    .row-fluid.pagination-centered
      .span3
        .well.sidebar-nav
          .nav.nav-list
            %li.nav-header
              Clients
              %i.icon-user
            %p= link_to "Client 1", '#'
            %p= link_to "Client 2", '#'
            %li.nav-header
              Workouts
              %i.icon-tasks
            %p= link_to "Workout 1", '#'
            %p= link_to "Workout 2", '#'
            %li.nav-header
              Bodycomps
              %i.icon-th-list
            %p= link_to "Bodycomp 1", '#'
            %p= link_to "Bodycomp 2", '#'
    .row-fluid
      .span3
        .well.sidebar-nav
          .nav.nav-list
            %li
              %a{:href => '#'}
                %h3
                  = "Calendar"
                  %i.icon-calendar
            %li
              %a{:href => '#'}
                %h3
                  = "Workouts"
                  %i.icon-tasks
            %li
              %a{:href => clients_path}
                %h3
                  = "Clients"
                  %i.icon-user
            %li
              %a{:href => '#'}
                %h3
                  = "Bodycomps"
                  %i.icon-th-list
            %li
              %a{:href => '#'}
                %h3
                  = "Notifications"
                  %i.icon-envelope
            %li
              %a{:href => '#'}
                %h3
                  = "Documents"
                  %i.icon-file
            %li
              %a{:href => '#'}
                %h3
                  = "Pictures"
                  %i.icon-camera
      .span9
        .tabbable{:style => "margin-bottom: 18px;"}
          %ul.nav.nav-tabs
            %li.active
              %a{:href => "#tab1", :data => {:toggle => "tab"}}
                Section 1
            <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
            <li><a href="#tab3" data-toggle="tab">Section 3</a></li>
          <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
          <div class="tab-pane active" id="tab1">
          <p>I'm in Section 1.</p>
          </div>
          <div class="tab-pane" id="tab2">
          <p>Howdy, I'm in Section 2.</p>
          </div>
          <div class="tab-pane" id="tab3">
          <p>What up girl, this is Section 3.</p>
          </div>
          </div>

    - if false
      .span9
        .hero-unit
          .tabbable
            %ul.nav.nav-tabs
              %li.active
                %a{:href => "#tab1", :data-toggle => "tab"}
                  Section 1
              %li
                %a{:href => "#tab2", :data-toggle => "tab"}
                  Section 2
              %li
                %a{:href => "#tab3", :data-toggle => "tab"}
                  Section 3
            .tab-content
              #tab1.tab-pane.active
                %p I'm in Section 1.
              #tab2.tab-pane
                %p Howdy, I'm in Section 2.
              #tab3.tab-pane
                %p What up girl? I'm in Section 3.
    - if false
      .span12
        &nbsp;
        .btn-toolbar
          .btn-group
            %a{:href => '#', :class => "btn-large btn-success"}
              = "Calendar"
              %i.icon-calendar
          .btn-group
            %a{:href => '#', :class => "btn-large btn-primary"}
              = "Workouts"
              %i.icon-tasks
          .btn-group
            %a{:href => clients_path, :class => "btn-large btn-info"}
              = "Clients"
              %i.icon-user
          .btn-group
            %a{:href => '#', :class => "btn-large btn-warning"}
              = "Bodycomps"
              %i.icon-th-list
          .btn-group
            %a{:href => '#', :class => "btn-large btn-yellow"}
              = "Notify"
              %i.icon-envelope
          .btn-group
            %a{:href => '#', :class => "btn-large btn-purple"}
              = "Documents"
              %i.icon-file
          .btn-group
            %a{:href => '#', :class => "btn-large btn-danger"}
              = "Pictures"
              %i.icon-camera
  - if false
    .jumbotron
      .row
        .form-signin.span6
          - if current_user.is_client?
            %p= link_to "My BodyComps", bodycomps_path, :class => "btn btn-primary"
            %p= link_to "My Images", '#', :class => "btn  btn-block btn-small btn-success"
          - if current_user.is_trainer?
            %p= link_to "New Client", new_client_path, :class => "btn btn-primary"
            %p= link_to "My Clients", clients_path, :class => "btn btn-primary"
          - if current_user.username == "jeremysenn"
            %p= link_to "SUPER USER", '#', :class => "btn btn-danger"
        .form-signin.span6
          - if current_user.is_client?
            %p= link_to "My BodyComps", bodycomps_path, :class => "btn btn-primary"
            %p= link_to "My Images", '#', :class => "btn  btn-block btn-small btn-success"
          - if current_user.is_trainer?
            %p= link_to "New BodyComp", new_bodycomp_path, :class => "btn btn-success"
            %p= link_to "My BodyComps", bodycomps_path, :class => "btn btn-success"
          - if current_user.username == "jeremysenn"
            %p= link_to "SUPER USER", '#', :class => "btn btn-danger"
      .row
        .form-signin.span6
          - if current_user.is_client?
            %p= link_to "My BodyComps", bodycomps_path, :class => "btn btn-primary"
            %p= link_to "My Images", '#', :class => "btn btn-success"
          - if current_user.is_trainer?
            %p= link_to "New Document", '#', :class => "btn btn-warning"
            %p= link_to "My Documents", '#', :class => "btn btn-warning"
          - if current_user.username == "jeremysenn"
            %p= link_to "SUPER USER", '#', :class => "btn btn-danger"
        .form-signin.span6
          - if current_user.is_client?
            %p= link_to "My BodyComps", bodycomps_path, :class => "btn btn-primary"
            %p= link_to "My Images", '#', :class => "btn btn-success"
          - if current_user.is_trainer?
            %p= link_to "New Image", '#', :class => "btn btn-danger"
            %p= link_to "My Images", '#', :class => "btn btn-danger"
          - if current_user.username == "jeremysenn"
            %p= link_to "SUPER USER", '#', :class => "btn btn-danger"
      
