= simple_nested_form_for @bodycomp, :html => { :multipart => true, :class => 'form-horizontal' } do |f|
  - @bodycomp.errors.each do |attr, msg|
    .alert.alert-error
      %button{:type => "button", :class => "close", :data => {:dismiss => "alert"}}
        ×
      = "#{msg}" if @bodycomp.errors[attr].first == msg

  .tabbable{:style => "margin-bottom: 18px;"}
    .btn-group
      %ul.nav.nav-pills
        %li.active
          %a{:href => "#basic", :data => {:toggle => "tab"}, :rel => 'tooltip', :title => "Enter client's basic information."}
            %button.btn
              %i.icon-file
              Basic Info
        %li
          %a{:href => "#skinfolds", :data => {:toggle => "tab"}, :rel => 'tooltip', :title => "Enter client's skinfold measurements."}
            %button.btn
              %i.icon-male
              Skinfold Measurements
        %li
          %a{:href => "#circumferences", :data => {:toggle => "tab"}, :rel => 'tooltip', :title => "Enter client's circumference measurements."}
            %button.btn
              %i.icon-rotate-right
              Girth Measurements
        %li
          %a{:href => "#pics", :data => {:toggle => "tab"}, :rel => 'tooltip', :title => "Enter client's pictures."}
            %button.btn
              %i.icon-camera
              Pictures
    .tab-content{:style => "padding-bottom: 9px; border-bottom: 1px solid #ddd;"}
      .tab-pane.active{:id => "basic"}
        .control-group
          = f.label :date, :class => 'control-label'
          .controls
            = f.text_field :date, :id => "datepicker", :class => 'input-small', :readonly => true, :default => Date.today

        = f.input :client_id, :collection => current_user.trainer.clients.collect {|c| [ c.first_name + " " + c.last_name, c.id ]}, :include_blank => false

        = f.input :sex, :collection => { "Female" => "Female", "Male" => "Male"}, :input_html => { :class => 'input-small' }, :include_blank => false

        = f.input :age, :collection => years_for_select, :input_html => { :class => 'input-small' }, :include_blank => false

        = f.input :weight_units, :label => 'Weight Units', :input_html => { :class => 'input-small' }, :collection => { "Pounds" => "pounds", "Kilograms" => "kilograms"}, :include_blank => false

        = f.input :weight, :input_html => { :class => 'input-small' }

        = f.input :circumference_units, :label => 'Measurement Units', :input_html => { :class => 'input-small' }, :collection => { "Inches" => "inches", "Centimeters" => "Centimeters"}, :include_blank => false

        = f.input :height, :input_html => { :class => 'input-small' }

        = f.input :notes, :placeholder => 'Notes and things go here.', :input_html => {:rows => 6}
      .tab-pane{:id => "skinfolds"}
        = f.input :skinfold_sites,  collection: ["Three", "Seven"], as: :radio_buttons, :checked => "Seven"

        .all.male
          = f.input :pec, :label => 'Chest', hint: "#{link_to '<i class="icon-question-sign"></i>'.html_safe, '#pec_pic', "data-toggle" => "modal", :href => "#pec_pic"}", :input_html => {:min => 1, :value => number_with_precision(f.object.pec, precision: 2), :class => 'input-small' }
          %div{:id => "pec_pic", :class => "modal", :style => "display:none;"}
            .modal-header
              = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
              = "Chest Skinfold Measure"
            .modal-body
              .pagination-centered
                = image_tag('chest-m.jpg')
                = image_tag('chest-f.jpg')
            .modal-footer
              = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"
        .all.female
          = f.input :tri, :label => "Triceps", hint: "#{link_to '<i class="icon-question-sign"></i>'.html_safe, '#tri_pic', "data-toggle" => "modal", :href => "#tri_pic"}", :input_html => { :min => 1, :value => number_with_precision(f.object.tri, precision: 2), :class => 'input-small' }
          %div{:id => "tri_pic", :class => "modal", :style => "display:none;"}
            .modal-header
              = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
              = "Triceps Skinfold Measure"
            .modal-body
              .pagination-centered
                = image_tag('triceps-m.jpg')
                = image_tag('triceps-f.jpg')
            .modal-footer
              = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"
        .all
          = f.input :subscap, :label => "Subscapular", hint: "#{link_to '<i class="icon-question-sign"></i>'.html_safe, '#subscap_pic', "data-toggle" => "modal", :href => "#subscap_pic"}", :input_html => {:min => 1, :value => number_with_precision(f.object.subscap, precision: 2), :class => 'input-small' }
          %div{:id => "subscap_pic", :class => "modal", :style => "display:none;"}
            .modal-header
              = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
              = "Subscapular Skinfold Measure"
            .modal-body
              .pagination-centered
                = image_tag('subscapular-m.jpg')
                = image_tag('subscapular-f.jpg')
            .modal-footer
              = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"
        .all.female
          = f.input :suprailiac, :label => "Suprailiac", hint: "#{link_to '<i class="icon-question-sign"></i>'.html_safe, '#suprailiac_pic', "data-toggle" => "modal", :href => "#suprailiac_pic"}", :input_html => {:min => 1, :value => number_with_precision(f.object.suprailiac, precision: 2), :class => 'input-small' }
          %div{:id => "suprailiac_pic", :class => "modal", :style => "display:none;"}
            .modal-header
              = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
              = "Suprailiac Skinfold Measure"
            .modal-body
              .pagination-centered
                = image_tag('suprailiac-m.jpg')
                = image_tag('suprailiac-f.jpg')
            .modal-footer
              = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"
        .all
          = f.input :midaxil, :label => "Midaxillary", hint: "#{link_to '<i class="icon-question-sign"></i>'.html_safe, '#midaxil_pic', "data-toggle" => "modal", :href => "#midaxil_pic"}", :input_html => {:min => 1, :value => number_with_precision(f.object.midaxil, precision: 2), :class => 'input-small' }
          %div{:id => "midaxil_pic", :class => "modal", :style => "display:none;"}
            .modal-header
              = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
              = "Midaxillary Skinfold Measure"
            .modal-body
              .pagination-centered
                = image_tag('midaxillary-m.jpg')
                = image_tag('midaxillary-f.jpg')
            .modal-footer
              = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"
        .all.male
          = f.input :umbilical, :label => "Abdominal", hint: "#{link_to '<i class="icon-question-sign"></i>'.html_safe, '#umbilical_pic', "data-toggle" => "modal", :href => "#umbilical_pic"}", :input_html => {:min => 1, :value => number_with_precision(f.object.umbilical, precision: 2), :class => 'input-small' }
          %div{:id => "umbilical_pic", :class => "modal", :style => "display:none;"}
            .modal-header
              = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
              = "Abdominal Skinfold Measure"
            .modal-body
              .pagination-centered
                = image_tag('abdominal-m.jpg')
                = image_tag('abdominal-f.jpg')
            .modal-footer
              = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"
        .all.male.female
          = f.input :quad, :label => "Thigh", hint: "#{link_to '<i class="icon-question-sign"></i>'.html_safe, '#quad_pic', "data-toggle" => "modal", :href => "#quad_pic"}", required: false, :input_html => { :min => 1, :value => number_with_precision(f.object.quad, precision: 2), :class => 'input-small' }
          %div{:id => "quad_pic", :class => "modal", :style => "display:none;"}
            .modal-header
              = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
              = "Thigh Skinfold Measure"
            .modal-body
              .pagination-centered
                = image_tag('thigh-m.jpg')
                = image_tag('thigh-f.jpg')
            .modal-footer
              = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"

        =# f.input :calf, :label => "Calf", :input_html => {:min => 1, :value => number_with_precision(f.object.calf, precision: 2), :class => 'input-small' }

        =# f.input :bicep, :label => "Biceps", :input_html => {:min => 1, :value => number_with_precision(f.object.bicep, precision: 2), :class => 'input-small' }

        =# f.input :low_back, :label => "Low back", :input_html => {:min => 1, :value => number_with_precision(f.object.low_back, precision: 2), :class => 'input-small' }
      .tab-pane{:id => "circumferences"}
        = f.input :waist, :label => 'Waist', hint: "#{link_to '<i class="icon-question-sign"></i>'.html_safe, '#waist_pic', "data-toggle" => "modal", :href => "#waist_pic"}", :input_html => {:min => 1, :value => number_with_precision(f.object.waist, precision: 2), :class => 'input-small' }
        %div{:id => "waist_pic", :class => "modal", :style => "display:none;"}
          .modal-header
            = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
            = "Waist Girth Measure"
          .modal-body
            .pagination-centered
              = image_tag('waist-girth.jpg')
          .modal-footer
            = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"

        = f.input :hip, :label => 'Hip', hint: "#{link_to '<i class="icon-question-sign"></i>'.html_safe, '#hip_pic', "data-toggle" => "modal", :href => "#hip_pic"}", :input_html => {:min => 1, :value => number_with_precision(f.object.hip, precision: 2), :class => 'input-small' }
        %div{:id => "hip_pic", :class => "modal", :style => "display:none;"}
          .modal-header
            = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
            = "Hip Girth Measure"
          .modal-body
            .pagination-centered
              = image_tag('hip-girth.jpg')
          .modal-footer
            = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"

        = f.input :neck, :label => 'Neck', hint: "#{link_to '<i class="icon-question-sign"></i>'.html_safe, '#neck_pic', "data-toggle" => "modal", :href => "#neck_pic"}", :input_html => {:min => 1, :value => number_with_precision(f.object.neck, precision: 2), :class => 'input-small' }
        %div{:id => "neck_pic", :class => "modal", :style => "display:none;"}
          .modal-header
            = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
            = "Neck Girth Measure"
          .modal-body
            .pagination-centered
              = image_tag('neck-girth.jpg')
          .modal-footer
            = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"

        = f.input :shoulder, :label => 'Shoulder', hint: "#{link_to '<i class="icon-question-sign"></i>'.html_safe, '#shoulder_pic', "data-toggle" => "modal", :href => "#shoulder_pic"}", :input_html => {:min => 1, :value => number_with_precision(f.object.shoulder, precision: 2), :class => 'input-small' }
        %div{:id => "shoulder_pic", :class => "modal", :style => "display:none;"}
          .modal-header
            = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
            = "Shoulder Girth Measure"
          .modal-body
            .pagination-centered
              = image_tag('shoulder-girth.jpg')
          .modal-footer
            = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"

        = f.input :chest, :label => 'Chest', hint: "#{link_to '<i class="icon-question-sign"></i>'.html_safe, '#chest_pic', "data-toggle" => "modal", :href => "#chest_pic"}", :input_html => {:min => 1, :value => number_with_precision(f.object.chest, precision: 2), :class => 'input-small' }
        %div{:id => "chest_pic", :class => "modal", :style => "display:none;"}
          .modal-header
            = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
            = "Chest Girth Measure"
          .modal-body
            .pagination-centered
              = image_tag('chest-girth.jpg')
          .modal-footer
            = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"

        = f.input :arm, :label => 'Arm', hint: "#{link_to '<i class="icon-question-sign"></i>'.html_safe, '#arm_pic', "data-toggle" => "modal", :href => "#arm_pic"}", :input_html => {:min => 1, :value => number_with_precision(f.object.arm, precision: 2), :class => 'input-small' }
        %div{:id => "arm_pic", :class => "modal", :style => "display:none;"}
          .modal-header
            = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
            = "Arm Girth Measure"
          .modal-body
            .pagination-centered
              = image_tag('arm-girth.jpg')
          .modal-footer
            = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"

        = f.input :thigh, :label => 'Thigh', hint: "#{link_to '<i class="icon-question-sign"></i>'.html_safe, '#thigh_pic', "data-toggle" => "modal", :href => "#thigh_pic"}", :input_html => {:min => 1, :value => number_with_precision(f.object.thigh, precision: 2), :class => 'input-small' }
        %div{:id => "thigh_pic", :class => "modal", :style => "display:none;"}
          .modal-header
            = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
            = "Thigh Girth Measure"
          .modal-body
            .pagination-centered
              = image_tag('thigh-girth.jpg')
          .modal-footer
            = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"

        = f.input :gastroc, :label => 'Calf', hint: "#{link_to '<i class="icon-question-sign"></i>'.html_safe, '#gastroc_pic', "data-toggle" => "modal", :href => "#gastroc_pic"}", :input_html => {:min => 1, :value => number_with_precision(f.object.gastroc, precision: 2), :class => 'input-small' }
        %div{:id => "gastroc_pic", :class => "modal", :style => "display:none;"}
          .modal-header
            = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
            = "Calf Girth Measure"
          .modal-body
            .pagination-centered
              = image_tag('calf-girth.jpg')
          .modal-footer
            = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"

      .tab-pane{:id => "pics"}
        = f.simple_fields_for :pictures, :wrapper => false do |picture_form|
          .well.well-large
            - unless picture_form.object.new_record?
              = image_tag(picture_form.object.image_url(:thumb).to_s)
            = picture_form.file_field :image if picture_form.object.new_record?
            = picture_form.link_to_remove "Remove this picture", :class => 'btn btn-mini btn-danger'
          
        %p= f.link_to_add "Add a picture", :pictures, :class =>  "btn btn-mini btn-warning"
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    =# link_to t('.cancel', :default => t("helpers.links.cancel")), :back, :class => 'btn'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn'

%script
  $('#datepicker').datepicker({format: 'yyyy-mm-dd'});

:javascript
  $('#bodycomp_skinfold_sites_three').click(function(){
    sex = $('#bodycomp_sex').val();
    if (sex == 'Female') {
      $('.all').hide();
      $('.female').show();
    }
    if (sex == 'Male') {
      $('.all').hide();
      $('.male').show();
    }
  });

  $('#bodycomp_skinfold_sites_seven').click(function(){
    $('.all').show();
  });

  $('#bodycomp_sex').change(function() {
    $('.all').show();
    $('#bodycomp_skinfold_sites_seven').prop('checked', true);
  });