.container-narrow
  .page-header
    %h3.text-error
      %i.icon-th-list
      Bodycomp Graphs

  .modal-header
    %h3 Current Body Composition
  .modal-body
    = content_tag :div, "", id: "bodycomp-donut", data: {bodycomp: bodycomp_donut_data(@bodycomp)}

  .modal-header
    %h3 Percent Body Fat
  .modal-body
    = content_tag :div, "", id: "percent-bodyfat", data: {bodycomps: bodyfat_chart_data(@bodycomps)}

  .modal-header
    %h3 Body Weight
  .modal-body
    = content_tag :div, "", id: "bodyweight", data: {bodycomps: @bodycomps}

  .modal-header
    %h3 Lean Mass
  .modal-body
    = content_tag :div, "", id: "leanmass", data: {bodycomps: leanmass_chart_data(@bodycomps)}

  .modal-header
    %h3 Fat Mass
  .modal-body
    = content_tag :div, "", id: "fatmass", data: {bodycomps: fatmass_chart_data(@bodycomps)}

  .modal-header
    %h3 Basal Metabolic Rate
  .modal-body
    = content_tag :div, "", id: "metabolic_rate", data: {bodycomps: metabolic_rate_chart_data(@bodycomps)}

  .modal-header
    %h3 Body Mass Index
  .modal-body
    = content_tag :div, "", id: "bmi", data: {bodycomps: bmi_chart_data(@bodycomps)}

  - unless @bodycomp.waist.blank? or @bodycomp.hip.blank?
    .modal-header
      %h3 Waist-to-hip Ratio
    .modal-body
      = content_tag :div, "", id: "whr", data: {bodycomps: whr_chart_data(@bodycomps)}

  .form-actions
    %a{:href => url_for(:back), :class => 'btn'}
      %i.icon-chevron-left
      Back


