.container
  - model_class = Bodycomp
  .page-header
    %h4.text-orange
      %i.icon-th-list
      Bodycomps

    = paginate @bodycomps
    %table.table.table-striped.table-condensed{"data-provides" => "rowlink"}
      %thead
        %tr
          %th{:style => 'display:none;'}=t '.actions', :default => t("helpers.actions")
          %th Date
          %th Client
          %th Weight
          %th %
          %th Lean
          %th Fat
          %th BMI
      %tbody
        - @bodycomps.reverse.each do |bodycomp|
          %tr
            %td{:style => 'display:none;'}
              = link_to t('.show', :default => t("helpers.links.show")), bodycomp_path(bodycomp)
            %td= bodycomp.date.strftime("%m/%d/%Y")
            %td
              %ul.thumbnails
                - unless bodycomp.client.image.blank?
                  %li
                    = link_to image_tag(bodycomp.client.image_url(:small_thumb).to_s), client_path(bodycomp.client), :class => 'thumbnail', :type => "button"
                - else
                  %li
                    = link_to image_tag('small_no_avatar.gif'), client_path(bodycomp.client), :class => 'thumbnail', :type => "button"
            %td= bodycomp.weight
            %td= bodycomp.bodyfat_percent.round(1)
            %td= bodycomp.lean_mass.round(1)
            %td= bodycomp.fat_mass.round(1)
            %td= bodycomp.bmi
    - if false
      %table
        - @bodycomps.each_slice(4) do |bodycomps|
          %tr
            - bodycomps.each do |bodycomp|
              %td
                %p
                  %a{:href => bodycomp_path(bodycomp), :rel => 'tooltip', :title => "View #{bodycomp.client.first_name}'s #{bodycomp.date.strftime('%m/%d/%Y')} Bodycomp"}
                    %button.btn.btn-large
                      %h4.text-orange
                        %i.icon-th-list
                        = bodycomp.client.full_name.truncate(15)
              
    .form-actions
      %a{:href => url_for(:back), :class => 'btn'}
        %i.icon-chevron-left
        Back
      %a{:href => new_bodycomp_path, :class => 'btn'}
        .text-orange
          %i.icon-th-list
          New