- model_class = Bodycomp
.container
  .row-fluid
    .span2
      .sidebar-nav{:style => "border-right: 2px solid #B7410E; margin-right: 0; padding-right: 19px;"}
        %h4.text-orange
          %i.icon-th-list
          Bodycomp
        %p
          %strong= "Client"
          %br
          = link_to @bodycomp.client.full_name, client_path(@bodycomp.client)
        %p
          %strong= "Date"
          %br
          = @bodycomp.date.strftime("%b %e %Y")
        %p
          %strong= "Weight"
          %br
          = @bodycomp.weight
          = @bodycomp.weight_units
        %p
          %strong= "Body Fat"
          %br
          = @bodycomp.bodyfat_percent.round(1).to_s + "%" unless @bodycomp.bodydensity.blank?
        %p
          %strong= "Lean Mass"
          %br
          = @bodycomp.lean_mass.round(1) unless @bodycomp.bodydensity.blank?
          = @bodycomp.weight_units
        %p
          %strong= "Fat Mass"
          %br
          = @bodycomp.fat_mass.round(1) unless @bodycomp.bodydensity.blank?
          = @bodycomp.weight_units
        %p
          %strong= "BMR"
          %br
          = @bodycomp.bmr.round unless @bodycomp.bodydensity.blank?
          Calories
        %p
          %strong= "BMI"
          %br
          = @bodycomp.bmi
        - unless @bodycomp.waist_hip_ratio.blank?
          %p
            %strong= "WHR"
            %br
            = @bodycomp.waist_hip_ratio
        - unless @bodycomp.notes.blank?
          %p
            %strong= "Notes"
            %br
            = @bodycomp.notes
    .span10
      .tabbable{:style => "margin-bottom: 18px;"}
        .btn-group
          %ul.nav.nav-tabs
            %li
              %a{:href => "#summary", :data => {:toggle => "tab"}}
                %button.btn.btn-small
                  %i.icon-list
                  Summary
            %li
              %a{:href => "#classifications", :data => {:toggle => "tab"}}
                %button.btn.btn-small
                  %i.icon-check
                  Norms
            %li
              %a{:href => "#results", :data => {:toggle => "tab"}}
                %button.btn.btn-small
                  %i.icon-male
                  Results
            %li.active
              %a{:href => "#graphs", :data => {:toggle => "tab"}}
                %button.btn.btn-small
                  %i.icon-bar-chart
                  Graphs
            %li
              %a{:href => "#pictures", :data => {:toggle => "tab"}}
                %button.btn.btn-small
                  %i.icon-camera
                  Pics
        %hr{:style => "border: 1px solid #B7410E; margin-top:0px;"}
        .tab-content
          .tab-pane.active{:id => "graphs"}
            = render :partial => 'bodycomp_graphs'
          .tab-pane{:id => "summary"}
            = render :partial => 'summary'
          .tab-pane{:id => "classifications"}
            = render :partial => 'classifications'
          .tab-pane{:id => "results"}
            = render :partial => 'results_table'
          .tab-pane{:id => "pictures"}
            - @bodycomp.pictures.each_slice(3) do |pictures|
              %ul.thumbnails
                - pictures.each do |pic|
                  %li.span3
                    = link_to image_tag(pic.image_url(:thumb).to_s), "#pic" + pic.id.to_s, :class => "thumbnail", "data-toggle" => "modal", :href => "#pic" + pic.id.to_s, :type => "button", :title => "Click to view large image", :rel => 'tooltip'
                  %div{:id => "pic" + pic.id.to_s, :class => "modal", :style => "display:none;"}
                    .modal-header
                      = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
                      = @bodycomp.date.strftime("%b %e %Y")
                    .modal-body
                      = image_tag(pic.image_url(:large).to_s)
                    .modal-footer
                      = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"
  - unless current_user.is_client?
    .form-actions
      %a{:href => bodycomps_path, :class => 'btn'}
        %i.icon-chevron-left
        Back
      %a{:href => edit_bodycomp_path(@bodycomp), :class => 'btn'}
        = "Edit"
        %i.icon-edit
      %a{:href => bodycomp_path(@bodycomp), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger'}
        = "Delete"
        %i.icon-remove