<%= simple_form_for @bodycomp, :html => { :class => 'form-horizontal' } do |f| %>
  <% @bodycomp.errors.each do |attr, msg| %>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= "#{msg}" if @bodycomp.errors[attr].first == msg %>
    </div>
  <%end%>

  

<div class="accordion" id="accordion2">
  <button type="button" class="accordion-toggle btn btn-danger" data-toggle="collapse" data-target="#collapseOne" data-parent="#accordion2">
    Basic Info
  </button>
  <button type="button" class="accordion-toggle btn btn-warning" data-toggle="collapse" data-target="#collapseTwo" data-parent="#accordion2">
    Skinfold Measures
  </button>
  <button type="button" class="accordion-toggle btn btn-success" data-toggle="collapse" data-target="#collapseThree" data-parent="#accordion2">
    Circumference Measures
  </button>

  <div class="accordion-group">
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <h3>Basic Info</h3>
        <div class="control-group">
          <%= f.label :date, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :date, :id => "datepicker", :class => 'input-small', :readonly => true %>
          </div>
        </div>
        <%= f.input :client_id, :collection => current_user.trainer.clients.collect {|c| [ c.first_name + " " + c.last_name, c.id ]}, :include_blank => false %>

        <%= f.input :sex, :collection => { "Female" => "Female", "Male" => "Male"}, :include_blank => false %>

        <%= f.input :age, :collection => years_for_select, :include_blank => false %>

        <%= f.input :height, :placeholder => 'Inches', :input_html => { :class => 'input-small' } %>

        <%= f.input :weight, :placeholder => 'Pounds', :input_html => { :class => 'input-small' } %>

        <%= f.input :notes, :placeholder => 'Notes and things go here.', :input_html => {:rows => 6} %>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <h3>Skinfold Measures (mm)</h3>
          <%= f.input :pec, :label => "Chest", :input_html => { :min => 1, :value => number_with_precision(f.object.pec, precision: 2), :class => 'input-small' } %>

          <%= f.input :tri, :label => "Triceps", :input_html => { :min => 1, :value => number_with_precision(f.object.tri, precision: 2), :class => 'input-small' } %>

          <%= f.input :subscap, :label => "Subscapular", :input_html => {:min => 1, :value => number_with_precision(f.object.subscap, precision: 2), :class => 'input-small' } %>

          <%= f.input :suprailiac, :label => "Suprailiac", :input_html => {:min => 1, :value => number_with_precision(f.object.suprailiac, precision: 2), :class => 'input-small' } %>

          <%= f.input :midaxil, :label => "Midaxillary", :input_html => {:min => 1, :value => number_with_precision(f.object.midaxil, precision: 2), :class => 'input-small' } %>

          <%= f.input :umbilical, :label => "Abdominal", :input_html => {:min => 1, :value => number_with_precision(f.object.umbilical, precision: 2), :class => 'input-small' } %>

          <%= f.input :quad, :label => "Thigh", :input_html => {:min => 1, :value => number_with_precision(f.object.quad, precision: 2), :class => 'input-small' } %>

          <%= f.input :calf, :label => "Calf", :input_html => {:min => 1, :value => number_with_precision(f.object.calf, precision: 2), :class => 'input-small' } %>

          <%= f.input :bicep, :label => "Biceps", :input_html => {:min => 1, :value => number_with_precision(f.object.bicep, precision: 2), :class => 'input-small' } %>

          <%= f.input :low_back, :label => "Low back", :input_html => {:min => 1, :value => number_with_precision(f.object.low_back, precision: 2), :class => 'input-small' } %>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <h3>Circumference Measures (in)</h3>
          <div class="control-group">
            <%= f.label :waist, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :waist, :class => 'input-small' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :hip, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :hip, :class => 'input-small' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :neck, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :neck, :class => 'input-small' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :shoulder, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :shoulder, :class => 'input-small' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :chest, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :chest, :class => 'input-small' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :arm, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :arm, :class => 'input-small' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :thigh, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :thigh, :class => 'input-small' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label "Calf", :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :gastroc, :class => 'input-small' %>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                :back, :class => 'btn' %>
  </div>
<% end %>

<script>
  $('#datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>


