<%- model_class = Bodycomp -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:client_id) %></th>
      <th><%= model_class.human_attribute_name(:age) %></th>
      <th><%= model_class.human_attribute_name(:height) %></th>
      <th><%= model_class.human_attribute_name(:height_units) %></th>
      <th><%= model_class.human_attribute_name(:weight) %></th>
      <th><%= model_class.human_attribute_name(:weight_units) %></th>
      <th><%= model_class.human_attribute_name(:pec) %></th>
      <th><%= model_class.human_attribute_name(:tri) %></th>
      <th><%= model_class.human_attribute_name(:subscap) %></th>
      <th><%= model_class.human_attribute_name(:suprailiac) %></th>
      <th><%= model_class.human_attribute_name(:midaxil) %></th>
      <th><%= model_class.human_attribute_name(:umbilical) %></th>
      <th><%= model_class.human_attribute_name(:calf) %></th>
      <th><%= model_class.human_attribute_name(:bicep) %></th>
      <th><%= model_class.human_attribute_name(:low_back) %></th>
      <th><%= model_class.human_attribute_name(:quad) %></th>
      <th><%= model_class.human_attribute_name(:sex) %></th>
      <th><%= model_class.human_attribute_name(:waist) %></th>
      <th><%= model_class.human_attribute_name(:hip) %></th>
      <th><%= model_class.human_attribute_name(:neck) %></th>
      <th><%= model_class.human_attribute_name(:shoulder) %></th>
      <th><%= model_class.human_attribute_name(:chest) %></th>
      <th><%= model_class.human_attribute_name(:arm) %></th>
      <th><%= model_class.human_attribute_name(:thigh) %></th>
      <th><%= model_class.human_attribute_name(:gastroc) %></th>
      <th><%= model_class.human_attribute_name(:circumference_units) %></th>
      <th><%= model_class.human_attribute_name(:notes) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @bodycomps.each do |bodycomp| %>
      <tr>
        <td><%= link_to bodycomp.id, bodycomp_path(bodycomp) %></td>
        <td><%= bodycomp.date %></td>
        <td><%= bodycomp.client_id %></td>
        <td><%= bodycomp.age %></td>
        <td><%= bodycomp.height %></td>
        <td><%= bodycomp.height_units %></td>
        <td><%= bodycomp.weight %></td>
        <td><%= bodycomp.weight_units %></td>
        <td><%= bodycomp.pec %></td>
        <td><%= bodycomp.tri %></td>
        <td><%= bodycomp.subscap %></td>
        <td><%= bodycomp.suprailiac %></td>
        <td><%= bodycomp.midaxil %></td>
        <td><%= bodycomp.umbilical %></td>
        <td><%= bodycomp.calf %></td>
        <td><%= bodycomp.bicep %></td>
        <td><%= bodycomp.low_back %></td>
        <td><%= bodycomp.quad %></td>
        <td><%= bodycomp.sex %></td>
        <td><%= bodycomp.waist %></td>
        <td><%= bodycomp.hip %></td>
        <td><%= bodycomp.neck %></td>
        <td><%= bodycomp.shoulder %></td>
        <td><%= bodycomp.chest %></td>
        <td><%= bodycomp.arm %></td>
        <td><%= bodycomp.thigh %></td>
        <td><%= bodycomp.gastroc %></td>
        <td><%= bodycomp.circumference_units %></td>
        <td><%= bodycomp.notes %></td>
        <td><%=l bodycomp.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_bodycomp_path(bodycomp), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      bodycomp_path(bodycomp),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_bodycomp_path,
            :class => 'btn btn-primary' %>
