!!!
%html

  %head
    %title= content_for?(:title) ? yield(:title) : "BodyComp"
    = favicon_link_tag 'favicon.ico'
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    =# stylesheet_link_tag 'mobile' if mobile_device?
    = javascript_include_tag "application"
    = csrf_meta_tag
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}/
    = yield(:head)
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-6217562-9', 'tranetrak.com');
      ga('send', 'pageview');

  %body
    #container
      - flash.each do |name, msg|
        %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
          <button type="button" class="close" data-dismiss="alert">×</button>
          = content_tag :div, msg, :id => "flash_#{name}"

      - if show_title?
        %h1= yield(:title)
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{:href => "/login"}
              %p.text-error
                =# image_tag('train_icon_small.png')
                = image_tag('tape_measure2-25.png')
                Skinfolds
            .nav-collapse.collapse
              %ul.nav
                %li= mail_to 'bodycomp@jeremysenn.com', '<i class="icon-question-sign"></i> Help'.html_safe
                - if false
                  %li.dropdown
                    %a{:href => '#', :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'}}
                      WHAT
                      %i.icon-question-sign
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => nil}
                          WHAT IS BODYCOMP?
                  %li.dropdown
                    %a{:href => '#', :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'}}
                      HOW
                      %i.icon-play-circle
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => nil}
                          HOW IT WORKS
                  %li.dropdown
                    %a{:href => '#', :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'}}
                      ABOUT
                      %i.icon-comment
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => nil}
                          ABOUT US
              - unless current_page? signup_path
                .navbar-form.pull-right
                  = form_tag sessions_path do
                    = text_field_tag :login, params[:login], :class => "span2", :placeholder => "Username or email"
                    = password_field_tag :password, nil, :class => "span2", :placeholder => "Password"
                    = button_tag(:type => 'submit', :class => 'btn ') do
                      Log in <i class="icon-lock"></i>
                    - if false
                      %a{:href => signup_path, :class => "btn btn-alert"}
                        Sign up
                        %i.icon-lock

      = yield